:root {
  /* Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode, */
  --fuente: Tahoma, Sans-Serif;
  --color-fondo: #262626;
  --color-fondo-tarjeta: #ffffff;
  --color-titulos: #111;
  --color-textch: #777;
  --color-etiqueta: #ff7a18;
  --color-txt-tarjeta-grande: #474747;
  --color-parrafo: #0089c7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: var(--fuente);
}
h1 {
  font-weight: 700;
  color: var(--color-titulos);
}
body {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contentp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.card1,
.card2 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo-tarjeta);
  width: 400px;
  height: 230px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.card1 p,
.card2 p {
  font-weight: 300;
  color: var(--color-textch);
}
.imagen img {
  /* border: 2px solid red; */
  border-radius: 10px;
}

/* Card big */

.card3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 400px;
  background-color: var(--color-fondo-tarjeta);
  border-radius: 10px;
  /* gap: 15px; */
}
.header {
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  border-radius: 10px;
}
.image {
  width: 400px;
  height: 200px;
  background-image: url('../char.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.conteiner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
}
.card3 h3 {
  text-transform: uppercase;
  color: var(--color-etiqueta);
  font-weight: 700;
}

.card3 span {
  color: var(--color-parrafo);
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
}
.footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer span {
  font-weight: 700;
}

@media (min-width: 480px) {
  .contentp {
    flex-direction: row;
    margin: 20px;
    gap: 15px;
  }
  .card3 {
  }
}
